html {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("https://i1.wp.com/captiontool.com/wp-content/uploads/2018/02/Captions-For-Event.jpg?resize=768%2C341&ssl=1");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  form {
    margin: 30px auto;
  }
  
  .form-group {
    margin: 0 10px 0 0;
  }
  
  #input-city {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
  }
  
  #weatherInfo {
    opacity: 0.6;
  }