body {
    background-image: url("https://i1.wp.com/captiontool.com/wp-content/uploads/2018/02/Captions-For-Event.jpg?resize=768%2C341&ssl=1");
    background-size: cover;
    height: 100%;
    width: 100%;
    font-family: 'Lemon', cursive;
    
      animation-name: fadeIn;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out;
      animation-duration: 3s;
      animation-fill-mode: forwards;
  }
  
  @keyframes fadeIn {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }
  
  /* nav style */
  .bs-dark.navbar-inverse {
    background-color: #666;
    border-color: #080808;
  }
  .bs-dark .navbar-img {padding:5px 6px !important;}
  .bs-dark .navbar-img img {width:40px;}
  .bs-dark .dropdown-menu {
    min-width: 200px;
    padding: 5px 0;
    margin: 2px 0 0;
    background-color: #999;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }
  
  .bs-dark .dropdown-menu .divider {
    border: 1px solid rgba(0, 0, 0, 0.8);
  }
  .bs-dark .dropdown-menu > li > a {
    padding: 6px 20px;
    color: rgba(255,255,255,0.80);
  }
  .bs-dark .dropdown-menu > li > a:hover,
  .bs-dark .dropdown-menu > li > a:focus {
    color: rgba(255,255,255,0.70);
    text-decoration: none;
    background-color: transparent;
  }
  .bs-dark .dropdown-menu > .active > a,
  .bs-dark .dropdown-menu > .active > a:hover,
  .bs-dark .dropdown-menu > .active > a:focus {
    color: rgba(255,255,255,0.70);
    text-decoration: none;
    background-color: transparent;
    outline: 0;
  }
  
  .bs-dark .navbar-form {
    margin:0;
    margin-top: 5px;
    padding:8px 0px;
  }
   
  .bs-dark .navbar-form .search-box {
    border:0px;
    height:35px;
    outline: none;
    width:320px;
    padding-right: 3px;
    padding-left: 15px;
    margin:4px;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
  }
   
  .bs-dark .navbar-form button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -34px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
   
  .bs-dark .search-box:focus + button {
    z-index: 3;   
  }
  
  @media (min-width: 768px) {
      .bs-dark .dropdown:hover {background-color: #999;}
      .bs-dark .dropdown:hover .dropdown-menu {
        display: block;
      }
      .bs-dark .navbar-form {
        padding:0px;
      }	
      .bs-dark .navbar-form .search-box {
        width:260px;
        height:32px;
      }
  
  }

  h1 {
      font-size: 38px;
  }
  
  h2 {
    font-size: 30px;
  }

  h3 {
      font-size: 20px;
  }
  
  form {
    margin: 30px auto;
  }
  
  .form-group {
    margin: 0 10px 0 0;
  }
  
  #input-city {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
  }
  
  
  #weatherInfo {
    opacity: 0.6;
    color: #000;
  }

  #logo {
      width: 160px;
      height: 160px;
      margin-top: 0;
  }
  
  img {
    width: 100px;
  }
  
  /* footer style */
  .footer-bs {
      background-color: #3c3d41;
      padding: 60px 40px;
      color: rgba(255,255,255,1.00);
      margin-bottom: 20px;
      border-bottom-right-radius: 6px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 6px;
  }
  .footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
  .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
  .footer-bs .footer-brand h2 { margin:0px 0px 10px; }
  .footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }
  
  .footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
  .footer-bs .footer-nav ul.pages li { padding:5px 0px;}
  .footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
  .footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
  .footer-bs .footer-nav h4 {
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom:10px;
  }
  
  .footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
  .footer-bs .footer-nav ul.list li { padding:5px 0px;}
  .footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
  .footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }
  
  .footer-bs .footer-social ul { list-style:none; padding:0px; }
  .footer-bs .footer-social h4 {
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 3px;
  }
  .footer-bs .footer-social li { padding:5px 4px;}
  .footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
  .footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
  
  .footer-bs .footer-ns h4 {
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom:10px;
  }
  .footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }
  
  @media (min-width: 768px) {
      .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
  }